<form action="{{ path(stripe-form-action-url) }}" method="POST">
    <script
      src="{{ stripe-checkout-url }}" class="stripe-button"
      data-key="{{ stripe-api-key }}"
      data-image="/square-image.png"
      data-email="{{ stripe-user-email }}"
      data-currency="{{ stripe-currency }}"
      data-name="{{ stripe-data-name }}"
      data-description="{{ stripe-data-description }} ({{ stripe-currency }}{{ stripe-normal-data-amount }})"
      data-panel-label="{{ stripe-data-panel-label }}"
      data-label="{{ stripe-data-label }} {{ stripe-currency }}{{ stripe-normal-data-amount }}"
      data-amount="{{ stripe-data-amount }}">
    </script>
    <input type='hidden' id="method" name="method" value="add">     
    <input type='hidden' id="action" name="action" value="Subscriptions">
    <input type='hidden' id='plan' name='plan' value='{{ stripe-plan-id }}'>    
</form>
