{% extends '::base.html.twig' %}

{% block body -%}
<form action="{{ path('ek_stripe_payment_card_create') }}" method="POST">
  <script
    src="{{ checkout_url }}" class="stripe-button"
    data-key="{{ api_key }}"
    data-image="/square-image.png"
    data-email="{{ user_email }}"
    data-currency="{{ currency }}"
    data-name="My company"
    data-description="Compte auto (€6500.00)"
    data-panel-label="Instant pay"
    data-label="Instant pay €6500.00"
    data-amount="650000">
  </script>
  <input type='hidden' id='amount' name='amount' value='650000'>
  <input type='hidden' id="type" name="type" value="chargesApiUrl"> 
</form>
    
<br/><br/>

<form action="{{ path('ek_stripe_payment_card_create') }}" method="POST">
  <script
    src="{{ checkout_url }}" class="stripe-button"
    data-key="{{ api_key }}"
    data-image="/square-image.png"
    data-email="{{ user_email }}"
    data-currency="{{ currency }}"
    data-name="My company"
    data-description="Abonnement compte manager"
    data-panel-label="Instant pay"
    data-label="Abonnement mensuel €20.00 compte manager">
  </script>
  <input type='hidden' id="plan" name="plan" value="gold">
  <input type='hidden' id="type" name="type" value="subscriptionsApiUrl">  
</form>
{% endblock %}
