<form action="{{ path(stripe_form_action_url) }}" method="POST">
    <script
      src="{{ stripe_checkout_url }}" class="stripe-button"
      data-key="{{ stripe_api_key }}"
      data-image="/square-image.png"
      data-email="{{ stripe_user_email }}"
      data-currency="{{ stripe_currency }}"
      data-name="{{ stripe_data_name }}"
      data-description="{{ stripe_data_description }} ({{ stripe_currency_letter }}{{ stripe_normal_data_amount }})"
      data-panel-label="{{ stripe_data_panel_label }}"
      data-label="{{ stripe_data_label }} {{ stripe_currency_letter }}{{ stripe_normal_data_amount }}"
      data-amount="{{ stripe_data_amount }}">
    </script>
    <input type='hidden' id="method" name="method" value="add">     
    <input type='hidden' id="action" name="action" value="Subscriptions"> 
    <input type='text' id="id" name="id" value="{{ stripe_coupons_id }}"> 
    <input type='text' id="percent-off" name="percent-off" value="{{ stripe_coupons_percent }}"> 
    <input type='text' id="duration" name="duration" value="{{ stripe_coupons_duration }}"> 
    <input type='text' id="duration_in_month" name="duration_in_month" value="{{ stripe_coupons_durationIM }}">     
</form>
